<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="12.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <ItemGroup>
    <MsDeployDeclareParameters Include="ClientId">
      <Kind>XmlFile</Kind>
      <Scope>web.config$</Scope>
      <Match>/configuration/appSettings/add[@key='ClientId']/@value</Match>
      <Description>Value for ClientId here.</Description>
      <DefaultValue>1ebb5b37-6ca9-4675-a1ba-b21bdd441065</DefaultValue>
      <Value>1ebb5b37-6ca9-4675-a1ba-b21bdd441065</Value>
      <Tags>applicationSettings</Tags>
    </MsDeployDeclareParameters>
    <MsDeployDeclareParameters Include="ClientSecret">
      <Kind>XmlFile</Kind>
      <Scope>web.config$</Scope>
      <Match>/configuration/appSettings/add[@key='ClientSecret']/@value</Match>
      <Description>Value for ClientSecret here.</Description>
      <DefaultValue>8GfAaQpV2NtK7uvw9zxB8nNLtSeUs2UILUP7Ypeflf8=</DefaultValue>
      <Value>8GfAaQpV2NtK7uvw9zxB8nNLtSeUs2UILUP7Ypeflf8=</Value>
      <Tags>applicationSettings</Tags>
    </MsDeployDeclareParameters>
  </ItemGroup>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://jsreport-share.azurewebsites.net/</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>jsreport-share.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>jsreport-share</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$jsreport-share</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>